<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg2">
      <ion-item class="login-item">
        <ion-label floating>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    
      <ion-item class="login-item">
        <ion-label floating>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      
      <button class="button-login" ion-button full>Sign in</button>

</ion-content>
