<ion-header>
    <ion-navbar>
      <ion-title>Sponsor</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
  
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/scg.jpg">
        </ion-thumbnail>
        <h2>Siam Cement Group</h2>
        <!-- <p>Hayao Miyazaki • 1988</p> -->
        <!-- <button ion-button clear item-end>View</button> -->
      </ion-item>
  
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/thaibev.jpg">
        </ion-thumbnail>
        <h2>ThaiBev</h2>
      </ion-item>
  
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/true.jpg">
        </ion-thumbnail>
        <h2>True Corporation</h2>
      </ion-item>
  
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/mitr-phol.jpg">
        </ion-thumbnail>
        <h2>Mitr Phol</h2>
      </ion-item>
  
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/cp-group.jpg">
        </ion-thumbnail>
        <h2>Charoen Pokphand Group</h2>
      </ion-item>
  
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/mama.jpg">
        </ion-thumbnail>
        <h2>Mama</h2>
      </ion-item>
  
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/kbank.png">
        </ion-thumbnail>
        <h2>Kasikorn bank</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/bank.jpg">
        </ion-thumbnail>
        <h2>Bangkok Bank</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/singha.jpg">
        </ion-thumbnail>
        <h2>Singha Corporation</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/central.jpg">
        </ion-thumbnail>
        <h2>Central Group</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/cpall.jpg">
        </ion-thumbnail>
        <h2>CP All</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lotus.jpg">
        </ion-thumbnail>
        <h2>Tesco Lotus</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/scb.jpg">
        </ion-thumbnail>
        <h2>Siam Commercial Bank</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/seavalue.jpg">
        </ion-thumbnail>
        <h2>Sea Value Group</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/cpf.jpg">
        </ion-thumbnail>
        <h2>Charoen Pokphand Foods</h2>
      </ion-item>
  
    </ion-list>
  </ion-content>