
<ion-header>
  <ion-navbar>
    <ion-title>Seminar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="1">
      21 May
    </ion-segment-button>
    <ion-segment-button value="2" >
      22 May
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segment == 1">
    <ion-list>
      <!-- <ion-list-header>
      </ion-list-header> -->

      <ion-list-header>
        <h2 style="color: black;">Morning</h2>
      </ion-list-header>
      <ion-item>
        <!-- <ion-note item-end="" class="note note-ios"></ion-note> -->
        <div class="row">
          <h2 class="header-item">Register for the event</h2>
        </div>
        <div class="row" style="color: #757575; ">
          <ion-col col-6>
            <img style="height: 20px;"  src="assets/imgs/clock_med_gray.png"> 
            08:00 - 09:00
          </ion-col>
          <ion-col col-6>
            <img style="height: 20px;"  src="assets/imgs/location_gray.png"> 
            Balloon room
          </ion-col>
        </div>
          
      </ion-item>

      <ion-item>
        <!-- <ion-note item-end="" class="note note-ios"></ion-note> -->
        <div class="row">
          <h2 class="header-item">VTR Presentation</h2>
        </div>
        <div class="row" style="color: #757575; ">
          <ion-col col-6>
            <img style="height: 20px;"  src="assets/imgs/clock_med_gray.png"> 
            09:00 - 09:10
          </ion-col>
          <ion-col col-6>
            <img style="height: 20px;"  src="assets/imgs/location_gray.png"> 
            Balloon room
          </ion-col>
        </div>
          
      </ion-item>

        <ion-item>
          <!-- <ion-note item-end="" class="note note-ios"></ion-note> -->
          <div class="row">
            <h2 class="header-item">กล่าวเปิดงาน Food for Future</h2>
          </div>
          <div class="row" style="color: #757575; ">
            <ion-col col-6>
              <img style="height: 20px;"  src="assets/imgs/clock_med_gray.png"> 
              09:10 - 10.00
            </ion-col>
            <ion-col col-6>
              <img style="height: 20px;"  src="assets/imgs/location_gray.png"> 
              Balloon room
            </ion-col>
          </div>
            
        </ion-item>

        <ion-item>
            <!-- <ion-note item-end="" class="note note-ios"></ion-note> -->
            <div class="row">
              <h2 class="header-item">บรรยายเรื่อง “10 Technologies to Watch”</h2>
            </div>
            <div class="row" style="color: #757575; ">
              <ion-col col-6>
                <img style="height: 20px;"  src="assets/imgs/clock_med_gray.png"> 
                10:00 - 11:00
              </ion-col>
              <ion-col col-6>
                <img style="height: 20px;"  src="assets/imgs/location_gray.png"> 
                Balloon room
              </ion-col>
            </div>
              
          </ion-item>

          <ion-item>
            <!-- <ion-note item-end="" class="note note-ios"></ion-note> -->
            <div class="row">
              <h2 class="header-item">บรรยายเรื่อง Future Trend for Food Industry</h2>
            </div>
            <div class="row" style="color: #757575; ">
              <ion-col col-6>
                <img style="height: 20px;"  src="assets/imgs/clock_med_gray.png"> 
                11:00 - 12:00
              </ion-col>
              <ion-col col-6>
                <img style="height: 20px;"  src="assets/imgs/location_gray.png"> 
                Balloon room
              </ion-col>
            </div>
              
          </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <h2>Afternoon</h2>
      </ion-list-header>

      <ion-item>
        <!-- <ion-note item-end="" class="note note-ios"></ion-note> -->
        <div class="row">
          <h2 class="header-item">Register for the event</h2>
        </div>
        <div class="row" style="color: #757575; ">
          <ion-col col-6>
            <img style="height: 20px;"  src="assets/imgs/clock_med_gray.png"> 
            08:00 - 09:00
          </ion-col>
          <ion-col col-6>
            <img style="height: 20px;"  src="assets/imgs/location_gray.png"> 
            Balloon room
          </ion-col>
        </div>
          
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="segment == 2">

    <ion-list>
      <ion-list-header>
        <h2>Afternoon</h2>
      </ion-list-header>

      <ion-item>
        <!-- <ion-note item-end="" class="note note-ios"></ion-note> -->
        <div class="row">
          <h2 class="header-item">Exercise</h2>
        </div>
        <div class="row" style="color: #757575; ">
          <ion-col col-6>
            <img style="height: 20px;"  src="assets/imgs/clock_med_gray.png"> 
            13:00 - 14:00
          </ion-col>
          <ion-col col-6>
            <img style="height: 20px;"  src="assets/imgs/location_gray.png"> 
            Balloon room
          </ion-col>
        </div>
          
      </ion-item>
    </ion-list>
  </ng-container>


</ion-content>