<!-- <ion-header class="home-navbar">
    <ion-title style="text-align: center;">
        <img  class="img-logo" src="assets/imgs/banner2019.png"> 
    </ion-title>
</ion-header> -->

<ion-content no-bounce padding class="bg-content" >
    <ion-title style="text-align: center;">
        <img  class="img-logo" src="assets/imgs/banner2019.png"> 
    </ion-title>
  <ion-slides pager>

    <ion-slide>
      <!-- <h2>Slide 1</h2> -->
      
      <ion-row class="row">
        <ion-col class="col-sm-3">
          <button (click)="register()" icon-start="" ion-button="" class="button-default button-home">
            <div>
              <div>
                <img style="height: 40px;"  src="assets/imgs/regis2.png"> 
              </div>  
              <label class="text-btn">Register</label>
            </div>
          </button>
          
          <!-- <button style="" color="danger" icon-only="" ion-button="" outline="" class="disable-hover button button-ios button-outline button-outline-ios button-outline-ios-danger"><span class="button-inner">
            <ion-icon is-active="false" name="remove-circle" role="img" class="icon icon-ios ion-ios-remove-circle" aria-label="remove circle"></ion-icon>
          </span><div class="button-effect"></div>
          </button> -->
        </ion-col>
        <ion-col class="col-sm-3">             
          <button (click)="info()" icon-start="" ion-button="" class="button-default button-home">
              <div>
                <div>
                  <img style="height: 40px;"  src="assets/imgs/info.png"> 
                </div>  
                <label class="text-btn">Info</label>
              </div>
          </button>
        </ion-col>
        <ion-col class="col-sm-3">
          <button (click)="agenda()"  icon-start="" ion-button="" class="button-default button-home">
              <div>
                <div>
                  <img style="height: 40px;"  src="assets/imgs/agenda2.png"> 
                </div>  
                <label class="text-btn">Agenda</label>
              </div>
          </button>
        </ion-col>
      </ion-row>


      <ion-row class="row">
        <ion-col class="col-sm-3">
            <button (click)="sponsor()" icon-start="" ion-button="" class="button-default button-home">
                <div>
                  <div>
                  <img style="height: 40px;"  src="assets/imgs/sponsor.png"> 
                  </div>  
                  <label class="text-btn">Sponsor</label>
                </div>
            </button>
        </ion-col>
        <ion-col class="col-sm-3">
                <button (click)="floorplan()" icon-start="" ion-button="" class="button-default button-home">
                    <div>
                      <div>
                      <img style="height: 40px;"  src="assets/imgs/map.png"> 
                      </div>  
                      <label class="text-btn">Floorplan</label>
                    </div>
                </button>
        </ion-col>
        <ion-col class="col-sm-3">
            <!-- <button icon-start="" ion-button="" class="disable-hover button button-ios button-default button-default-ios button-home"><span class="button-inner">
                <ion-icon name="home" role="img" class="icon icon-ios ion-ios-home" aria-label="home"></ion-icon>
                Blank
              </span><div class="button-effect"></div>
            </button> -->
        </ion-col>
      </ion-row>
    </ion-slide>



    <!-- <ion-slide>
      <h2>Slide 2</h2>
    </ion-slide> -->

  </ion-slides>
  
</ion-content>

<ion-footer >
    <!-- <button ion-button  (click)="signin()" class="button-signin">Sign in</button> -->

</ion-footer>