<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg2" padding style="background-color: #385E91; color: white;">
    <img style="width: 100%; margin: 0;" class="img-logo" src="assets/imgs/header_info.jpg"> 

    <p>INNOVATIVE SOLUTIONS FOR SUSTAINABLE FOOD INDUSTRY</p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ทุกมิติของนวัตกรรม
    เพื่ออุตสาหกรรมอาหารยั่งยืน
    การสร้างมูลค่าให้กับสินค้าด้วยเศรษฐกิจสร้างสรรค์ เป็นแนวคิดสำคัญในการขับเคลื่อนเศรษฐกิจประเทศ
    หอการค้าไทยและสภาหอการค้าแห่งประเทศไทย เห็นถึงศักยภาพในการยกระดับของผู้ประกอบการไทย
    โดยการสร้างมูลค่าด้วยนวัตกรรมดังนั้นจึงได้จัดงาน Thailand Food Innovation Forum 2018
    ในระหว่างวันที่ 21-22 พฤษภาคม 2561 ณ ศูนย์การประชุมแห่งชาติสิริกิติ์
    ภายในงานจะมีการจัดแสดงผลงานนวัตกรรมและงานออกแบบ และกิจกรรมที่น่าสนใจมากมาย
    ซึ่งจะเป็นเวทีให้กับผู้ประกอบการของไทย ได้นำไปปรับใช้ในเชิงธุรกิจอย่างเป็นรูปธรรมและยั่งยืน
</ion-content>
