// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: Prompt;
    src: url(Prompt.ttf);
}

* {
    font-family: 'Prompt', sans-serif;
}

$color-blue: #00A3D2;
$color-orange: #f99d26;

.list-ios {
    margin: -1px 0 10px;
}

.bg-content {
    background-image: url('../assets/imgs/bg-f.png');
    background-size: cover;
}

.bg2 {
    background-image: url('../assets/imgs/bg-i.png');
    background-size: cover;
}

.login-item {
    color: white;
    background-color: transparent;
}
 
.swiper-pagination-bullet-active {
    background: $color-blue;
}

.button-home  {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background-color: $color-blue;
}

.button-home:focus {
    background-color: $color-orange;
}

.button-signin {
    float: right; 
    height: 30px;
    background-color: $color-blue;
    margin-right: 4%;
    margin-bottom: 4%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.button-signin:focus {
    background-color: $color-orange;
}

.button-login {
    margin-top: 10%;
    background-color: $color-orange;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.button-login:focus {
    background-color: $color-orange;
}

.home-navbar {
    height: 250px;
}

.ios ion-footer .toolbar:last-child {
    height: 80px;
}

.bg-content > div:nth-child(2) {
    margin-top: 50px !important;
}

.text-btn {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.img-logo {
    // height: 200px;
    margin-bottom: 3%;
}

.header-item {
    color: #757575;
}

.header-md::after,
.footer-md::before {
    background-image: none;
}

// andriod segment
.segment-md-primary .segment-button.activated, 
.segment-md-primary .segment-button.segment-activated,
.segment-md-primary .segment-button {
    border-color: $color-orange;
    color: #ffffff;
    background-color: $color-blue;
}

.segment-md-primary .segment-button {
    opacity: 0.5;
}

// ios segment {
.segment-ios-primary .segment-button.segment-activated {
    border-color: $color-blue;
    color: #ffffff;
    background-color: $color-blue;
}

.segment-ios-primary .segment-button {
    border-color: $color-blue;
    color: $color-blue;
    background-color: transparent;
}

.segment-ios {
    padding: 5px;
}

.slides {
    height: unset !important;
}

@media only screen and (max-width: 767px) {

    .bg-content > div:nth-child(2) {
        margin-top: 50px !important;
    }

    .button-home  {
        height: 82px;
        width: 82px;
        border-radius: 5px;
    }
    .home-navbar {
        // height: 200px;
    }
    .ios ion-footer .toolbar:last-child {
        height: 50px;
    }

    .img-logo {
        // height: 100%;
        // margin-top: 12%;
    }
}

@media only screen and (min-width: 768px) {
    .button-home  {
        height: 130px;
        width: 130px;
        border-radius: 5px;

    }
    .home-navbar {
        height: 300px;
    }
    .ios ion-footer .toolbar:last-child {
        height: 100px;
    }

    .img-logo {
        width: 75%;
        // margin-top: 12%;
    }

    .text-btn {
        font-size: 14px;
    }

    .button-signin {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
    }
}



@media only screen and (min-width: 1024px) {
    .button-home  {
        height: 200px;
        width: 200px;
        border-radius: 5px;

    }
    .home-navbar {
        height: 300px;
    }
    .ios ion-footer .toolbar:last-child {
        height: 100px;
    }
    .img-logo {
        width: 60%;
        // height: 300px;
        // margin-top: 10%;
    }
}
